@page
@using Microsoft.Extensions.Localization
@using Zool_Works.OrganizationSetupService.Localization
@model Zool_Works.OrganizationSetupService.Web.Pages.OrganizationSetupService.IndexModel
@inject IStringLocalizer<OrganizationSetupServiceResource> L
@{
}
<h1>OrganizationSetupService</h1>
<p>@L["SamplePageMessage"]</p>
