@page "/OrganizationSetupService"
@using Microsoft.Extensions.Localization
@using global::Zool_Works.OrganizationSetupService.Localization
@inject IStringLocalizer<OrganizationSetupServiceResource> L
@{
}
<h1>OrganizationSetupService</h1>
<p>@L["SamplePageMessage"]</p>